header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
}
/* div {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  border-radius: 10%;
} */
img {
  border-radius: 10%;
  max-width: 100%;
  /* height: auto; */
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
}
